<section id="login-container" fxLayout="column" fxLayoutAlign="center center" fxFlex="100%">
  <header id="login-page">
      <div class="logo-container">
          <div id="logo-background-image"></div>
          <div id="logo-image"></div>
      </div>
  </header>
  <form [formGroup]="login" (submit)="loginUser()" class="login-form"
   fxLayoutAlign="stretch center" fxLayoutGap="20px">
  <div fxLayout="row">
      <mat-form-field>
          <input matInput type="text" placeholder="Email" formControlName="email" min="4" (keyup)="onchange()">
          <mat-error *ngIf="login.get('email')?.invalid">This field is required</mat-error>
      </mat-form-field>

      <mat-form-field>
          <input matInput type="password" placeholder="Password" formControlName="pass" min="3" (keyup)="onchange()">
          <mat-error *ngIf="login.get('pass')?.invalid">This field is required</mat-error>
      </mat-form-field>

      <div class="input error-label">
          <div for="" id="login-error-msg"> {{warnMsg}}</div>
      </div>
    </div>
      <button mat-raised-button type="submit" [disabled]="btnDisbaled">Login</button>
  </form>
  <div class="blue additinal-login-options" fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap="20px" fx-layout-align="end">
      <a [routerLink]="['/forgotpass']">Forgot password</a>
      <a [routerLink]="['/signin']">Sign In</a>
  </div>
</section>
