<section id="login-container" fxLayout="column" fxLayoutAlign="center center" fxFlex="100%">

    <header id="login-page">
        <div class="logo-container">
            <div id="logo-background-image"></div>
            <div id="logo-image"></div>
        </div>
    </header>

    <form [formGroup]="login" (submit)="loginUser()" class="login-form" fxLayout="column" fxLayoutAlign="stretch center"
        fxLayoutGap="20px" style="margin-bottom: 30px;">
        <div fxLayout="column" fxLayoutGap="20px">
            <mat-form-field>
                <input matInput type="text" [placeholder]=" 'placeholders.email' | translate " formControlName="email" min="4" (keyup)="onchange()">
                <mat-error *ngIf="login.get('email')?.invalid">{{ 'errors.required' | translate }}</mat-error>
            </mat-form-field>

            <mat-form-field>
                <input matInput type="password" [placeholder]=" 'placeholders.password' | translate " formControlName="pass" min="3"
                    (keyup)="onchange()">
                <mat-error *ngIf="login.get('pass')?.invalid">{{ 'errors.required' | translate }}</mat-error>
            </mat-form-field>

            <div class="input error-label" fxLayoutAlign="center center">
                <div for="" id="login-error-msg"> {{warnMsg}}</div>
            </div>
        </div>
        <button mat-raised-button type="submit" [disabled]="btnDisbaled">{{ 'buttons.login' | translate }}</button>
    </form>

    <div class="blue additinal-login-options" fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="5px"
        fx-layout-align="end">
        <a [routerLink]="['/forgotpass']">{{ 'buttons.forgotpass' | translate }}</a>
        <a [routerLink]="['/signin']">{{ 'buttons.signin' | translate }}</a>
    </div>
</section>