<section id="error-modal-wrapper">
    <section id="modaw-container">

      <section class="header" mat-dialog-title *ngIf="data.msgType !== 'prompt' && data.msgType !== 'import' ">
        <div class="icons">
          <i class="large material-icons" *ngIf="data.msgType == 'error'" [class.error]="data.msgType == 'error'">error</i>
          <i class="large material-icons" *ngIf="data.msgType == 'warning'" [class.warning]="data.msgType == 'warning'">warning</i>
          <i class="large material-icons" *ngIf="data.msgType == 'info'" [class.info]="data.msgType == 'info'">error_outline</i>
          <i class="large material-icons" *ngIf="data.msgType == 'status'" [class.status]="data.msgType == 'status'">notification_important</i>
          <i class="large material-icons" *ngIf="data.msgType == 'debug'" [class.debug]="data.msgType == 'debug'">bug_report</i>
          <i class="large material-icons" *ngIf="data.msgType == 'shortkeys'" [class.shortkeys]="data.msgType == 'shortkeys'">keyboard</i>
          <!-- feedback -->
          <i class="large material-icons" *ngIf="data.msgType == 'prompt'" [class.debug]="data.msgType == 'prompt'">help</i>
        </div>
        <div class="title">
          {{ data.title }}
        </div>
      </section>

      <section class="body-container">
        <mat-dialog-content *ngIf="data.msgType !== 'status' && data.msgType !== 'shortkeys'">
          <p>{{ data.message }}</p>
          <div class="import-content" *ngIf="data.msgType == 'import'">
            <div *ngFor="let element of data.elements">
              <mat-form-field>
                <input matInput type="{{element.type}}" placeholder="{{element.placeholder}}" [(ngModel)]="element.value" required>
              </mat-form-field>
            </div>
          </div>
        </mat-dialog-content>

        <mat-dialog-content *ngIf="data.msgType === 'status'">
          <ul id="status-list">
            <li class="status-element success" *ngFor="let item of data.elements" [class.fail]="!item.ok" matTooltip="{{item.message}}"
              matTooltipPosition="above">
              <span class="file-name">{{ item.fileName }}</span>
              <span class="file-status" *ngIf="item.ok"> success </span>
              <span class="file-status" *ngIf="!item.ok"> fail </span>
            </li>
          </ul>
        </mat-dialog-content>

        <mat-dialog-content *ngIf="data.msgType === 'shortkeys'">
          <h4>{{ data.message }}</h4>
          <ul id="shortkeys-list">
            <li class="status-element" *ngFor="let item of data.elements" matTooltipPosition="above">
              <div class="file-name left">{{ item.key }}</div>
              <div class="file-status">{{ item.details }}</div>
            </li>
          </ul>
        </mat-dialog-content>
      </section>

      <section class="controls">
        <mat-dialog-actions class="control-btns">
          <button mat-raised-button mat-dialog-close *ngIf=" data.msgType !== 'prompt' && data.msgType !== 'import' ">OK</button>
          <div *ngIf=" data.msgType == 'prompt' ">
            <button mat-button [mat-dialog-close]="false">NO</button>
            <button mat-raised-button [mat-dialog-close]="true">YES</button>
          </div>
          <div *ngIf=" data.msgType == 'import' ">
            <button mat-button [mat-dialog-close]="false">Cancel</button>
            <button mat-raised-button [mat-dialog-close]="data.elements" cdkFocusInitial>Add</button>
          </div>
        </mat-dialog-actions>
      </section>

    </section>
  </section>

  <!-- Examples:
    <div mat-dialog-actions>
      <button mat-button (click)="onNoClick()">No Thanks</button>
      <button mat-button [mat-dialog-close]="data.animal" cdkFocusInitial>Ok</button>
    </div>

  -->
