<!-- <button mat-raised-button (click)="isEditable = !isEditable">
  {{!isEditable ? 'Enable edit mode' : 'Disable edit mode'}}
</button> -->
<section id="reg-details">
  <mat-horizontal-stepper [linear]="true" #stepper>
    <mat-step [stepControl]="firstFormGroup" [editable]="isEditable">

      <form [formGroup]="firstFormGroup">
        <ng-template matStepLabel>{{ 'headings.checkPersData' | translate }}</ng-template>

        <!-- Company name -->
        <mat-form-field>
          <input matInput type="text" [placeholder]=" 'placeholders.companyName' | translate " formControlName="companyCTRL" required>
          <!-- <mat-error *ngIf="signin.get('companyCTRL')?.invalid">This field is required!</mat-error> -->
        </mat-form-field>

        <mat-checkbox class="form-checkbox" id="auth-gdpr" [ngModelOptions]="{standalone: true}" [(ngModel)]="GDPR">GDPR
        </mat-checkbox>
        <mat-checkbox class="form-checkbox" id="auth-cont" [ngModelOptions]="{standalone: true}"
          [(ngModel)]="authContacts">{{ 'headings.authContacts' | translate }}</mat-checkbox>
        <mat-checkbox class="form-checkbox" id="auth-invoice" [ngModelOptions]="{standalone: true}"
          [(ngModel)]="authInvoiceDetails">{{ 'headings.authInvoiceDetails' | translate }}</mat-checkbox>

        <div class="controll-btns">
          <button mat-button matStepperNext
            [disabled]="!GDPR || !authContacts">{{ 'buttons.next' | translate }}</button>
          <button mat-button (click)="SaveData()"
            [disabled]="authContacts || authInvoiceDetails">{{ 'buttons.finish' | translate }}</button>
        </div>

      </form>

    </mat-step>


    <mat-step [stepControl]="contactsDetails" [editable]="isEditable">

      <form [formGroup]="contactsDetails">
        <ng-template matStepLabel>{{ 'headings.webSiteCont' | translate }}</ng-template>

        <!-- Phones Array -->
        <mat-form-field>
          <input matInput [placeholder]=" 'placeholders.phoneNubers' | translate " formControlName="phonesCtrl" required>
          <mat-hint>{{ 'headings.webSiteHint' | translate }}</mat-hint>
        </mat-form-field>

        <div class="explanation-details">
          <!-- Connections -->
          <h5>{{ 'headings.con' | translate }}</h5>
          <p> </p>
        </div>
        <!-- Facebook  -->
        <mat-form-field>
          <input matInput placeholder="Facebook" formControlName="facebookCtrl" required>
        </mat-form-field>

        <!-- Twitter -->
        <mat-form-field>
          <input matInput placeholder="Twitter" formControlName="twitterCtrl" required>
        </mat-form-field>

        <!-- LinkedIn -->
        <mat-form-field>
          <input matInput placeholder="LinkedIn" formControlName="linkedinCtrl" required>
        </mat-form-field>

        <!-- Skype -->
        <mat-form-field>
          <input matInput placeholder="Skype" formControlName="skypeCtrl" required>
        </mat-form-field>

        <div class="explanation-details">
          <!-- Coordinates -->
          <h5>{{ 'headings.coords' | translate }}</h5>
          <p>{{ 'headings.coordsubHeader' | translate }}</p>
        </div>

        <!-- Latitude -->
        <mat-form-field>
          <input matInput [placeholder]=" 'placeholders.latitude' | translate " formControlName="latitudeCtrl" required>
        </mat-form-field>

        <!-- Longitude -->
        <mat-form-field>
          <input matInput [placeholder]=" 'placeholders.longtitude' | translate " formControlName="longitudeCtrl" required>
        </mat-form-field>

        <!-- URL -->
        <mat-form-field>
          <input matInput [placeholder]=" 'placeholders.link' | translate " formControlName="urlCtrl" required>
        </mat-form-field>

        <div class="controll-btns">
          <button mat-button matStepperPrevious>{{ 'buttons.back' | translate }}</button>
          <button mat-button matStepperNext
            [disabled]="!GDPR || !authInvoiceDetails">{{ 'buttons.next' | translate }}</button>
          <button mat-button (click)="SaveData()"
            [disabled]="!GDPR || authInvoiceDetails">{{ 'buttons.finish' | translate }}</button>
        </div>

      </form>

    </mat-step>

    <mat-step [stepControl]="invoiceDetails" [editable]="isEditable">

      <form [formGroup]="invoiceDetails">
        <ng-template matStepLabel>{{ 'headings.fillInvoiceDetailsMsg' | translate }}</ng-template>

        <!-- Address -->
        <mat-form-field>
          <input matInput [placeholder]=" 'placeholders.address' | translate " formControlName="addressCtrl" required>
        </mat-form-field>

        <!-- EIK -->
        <mat-form-field>
          <input matInput [placeholder]=" 'placeholders.eik' | translate " formControlName="eikCtrl" required>
        </mat-form-field>

        <!-- Bulstat -->
        <mat-form-field>
          <input matInput [placeholder]=" 'placeholders.bulstat' | translate " formControlName="bulstatCtrl" required>
        </mat-form-field>

        <!-- Citizenship -->
        <mat-form-field>
          <input matInput [placeholder]=" 'placeholders.citizenship' | translate " formControlName="citizenshipCtrl" required>
        </mat-form-field>

        <!-- Country -->
        <mat-form-field>
          <input matInput [placeholder]=" 'placeholders.country' | translate " formControlName="countryCtrl" required>
        </mat-form-field>

        <!-- Town -->
        <mat-form-field>
          <input matInput [placeholder]=" 'placeholders.town' | translate " formControlName="townCtrl" required>
        </mat-form-field>

        <!-- Code -->
        <mat-form-field>
          <input matInput [placeholder]=" 'placeholders.postcode' | translate " formControlName="postcodeCtrl" required>
        </mat-form-field>

        <!-- Phone number -->
        <mat-form-field>
          <input matInput [placeholder]=" 'placeholders.phone' | translate " formControlName="phoneCtrl" required>
        </mat-form-field>

        <!-- Code -->
        <!-- <mat-form-field>
          <input matInput placeholder="Phone code" formControlName="countryPhoneCodeCtrl" required>
        </mat-form-field> -->

        <div class="controll-btns">
          <button mat-button matStepperPrevious>{{ 'buttons.back' | translate }}</button>
          <button mat-button matStepperNext [disabled]="!GDPR">{{ 'buttons.next' | translate }}</button>
        </div>

      </form>

    </mat-step>


    <mat-step>

      <ng-template matStepLabel>{{ 'buttons.done' | translate }}</ng-template>
      <div class="controll-btns">
        <button mat-button matStepperPrevious>{{ 'buttons.back' | translate }}</button>
        <button mat-button (click)="stepper.reset()">{{ 'buttons.reset' | translate }}</button>
        <button mat-button (click)="SaveData()">{{ 'buttons.finish' | translate }}</button>
      </div>

    </mat-step>

  </mat-horizontal-stepper>

</section>