table {
    width: 100%;
}
.table-image {
    width: 170px;
}
.product-images {
    width: 150px;
    height: 150px;
    margin: 10px auto;
    background-position: 50% 50% !important;
    background-repeat: no-repeat !important;
    background-size: cover !important;
    margin-left: 0;
}

.total-amount {
    padding: 8px;
    background: rgba(255, 255, 255, 0.5);
    text-align: right;
}

.submit-basket {
    float: right;
    margin: 30px auto;
    button {
        background: rgba(255, 255, 255, 0.5);
    }
}

.quantity-col {
    mat-form-field {
        max-width: 50px;
    }
}