<mat-accordion class="example-headers-align" fxlayout="column" fxflex="fxFlex" fxlayout.md="row" fxlayout.lg="row" fxlayout.xl="row" xflexalign="stretch">

    <mat-expansion-panel [expanded]="step === 0" (opened)="setStep(0)" hideToggle>
        <mat-expansion-panel-header>
            <mat-panel-title>
                Personal Data
            </mat-panel-title>
            <mat-panel-description>
                <!-- Type your name and age -->
                <mat-icon>account_circle</mat-icon>
            </mat-panel-description>
        </mat-expansion-panel-header>

        <form [formGroup]="firstFormGroup" style="display: inline-grid;">
            <ng-template matsteplabel>Check you personal data</ng-template>

            <!-- Company name -->
            <mat-form-field>
              <input matInput type="text" placeholder="Company Name" formControlName="companyCTRL" required>
            </mat-form-field>

            <mat-form-field>
                <input matInput placeholder="First name" formControlName="firstnameCTRL">
            </mat-form-field>

            <mat-form-field>
                <input matInput placeholder="Last name" formControlName="lastnameCTRL">
            </mat-form-field>

            <mat-form-field>
                <input matInput placeholder="Old Email" formControlName="emailCTRL">
            </mat-form-field>

            <mat-form-field>
                <input matInput placeholder="New Email" formControlName="newEmailCTRL">
            </mat-form-field>

        </form>

        <mat-action-row>
            <button mat-button (click)="SaveDataPersonal()">Save</button>
            <button mat-button (click)="nextStep()">Next</button>
        </mat-action-row>

    </mat-expansion-panel>

    <mat-expansion-panel [expanded]="step === 1" (opened)="setStep(1)" hideToggle>
        <mat-expansion-panel-header>
            <mat-panel-title>
                Invoice Details
            </mat-panel-title>
            <mat-panel-description>

                <mat-icon>date_range</mat-icon>
            </mat-panel-description>
        </mat-expansion-panel-header>

        <form [formGroup]="invoiceDetails" style="display: inline-grid;">
            <div class="explanation-details">
                <ng-template matStepLabel>Fill out your invoice details</ng-template>

                <!-- Address -->
                <mat-form-field>
                    <input matInput placeholder="Address" formControlName="addressCtrl" required>
                </mat-form-field>

                <!-- EIK -->
                <mat-form-field>
                    <input matInput placeholder="EIK" formControlName="eikCtrl" required>
                </mat-form-field>

                <!-- Bulstat -->
                <mat-form-field>
                    <input matInput placeholder="Bulstat" formControlName="bulstatCtrl" required>
                </mat-form-field>

                <!-- Citizenship -->
                <mat-form-field>
                    <input matInput placeholder="Citizenship" formControlName="citizenshipCtrl" required>
                </mat-form-field>

                <!-- Country -->
                <mat-form-field>
                    <input matInput placeholder="Country" formControlName="countryCtrl" required>
                </mat-form-field>

                <!-- Town -->
                <mat-form-field>
                    <input matInput placeholder="Town" formControlName="townCtrl" required>
                </mat-form-field>

                <!-- Code -->
                <mat-form-field>
                    <input matInput placeholder="Postcode" formControlName="postcodeCtrl" required>
                </mat-form-field>

                <!-- Phone number -->
                <mat-form-field>
                    <input matInput placeholder="Phone number" formControlName="phoneCtrl" required>
                </mat-form-field>

                <!-- Code -->
                <mat-form-field>
                    <input matInput placeholder="Phone code" formControlName="countryPhoneCodeCtrl" required>
                </mat-form-field>
            </div>
        </form>
        <mat-datepicker #picker></mat-datepicker>

        <mat-action-row>
            <button mat-button (click)="SaveDataInvoices()">Save</button>
            <button mat-button (click)="prevStep()">Previous</button>
            <button mat-button (click)="nextStep()">End</button>
        </mat-action-row>
    </mat-expansion-panel>

</mat-accordion>
