#dashboard-wrapper {
    #dashboard-container {
        width: 100%;
        .page-settings-container {
            width: 100%;
            margin-bottom: 30px;
            overflow: hidden;
            .page-settings {
                width: 100%;
                line-height: 60px;
                // border-bottom: 1px solid rgba(0, 0, 0, .12);
            }
            .settings-toggle {
                width: 100%;
                height: 100%;
                display: inline-block;
                padding-top: 5px;
                border-top: 1px solid rgba(0, 0, 0, .12);
                cursor: pointer;
                #settings-btn {
                    width: 50px;
                    float: right;
                    margin-right: 20px;
                }
            }
        }
        #dashboard-content {
            widows: 100%;
        }
        .api-log-chart {
            min-width: 40%;
        }
    }
    .graph-row {
        margin: 0;
    }
}


mat-checkbox {
    color: white;
}

mat-card {
    overflow: hidden;
}