#combo-chart-container {
    mat-card {
        display: inline-block;
        padding: 100px 5%;
        mat-card-content {
            &#chart {
                width: 68%;
            }
            &#controller {
                width: 29%;
            }
            float: left;
            .chart-row {
                width: 100%;
            }
        }
    }
}

@media screen and (max-width: 1300px) {
    #combo-chart-container {
        mat-card {
            mat-card-content {
                &#chart {
                    width: 100%;
                }
                &#controller {
                    width: 100%;
                }
            }
        }
    }
}

@media screen and (max-width: 700px) {
    #combo-chart-container {
        mat-card {
            padding: 100px 0%;
        }
    }
}