<section id="contacts-wrapper">
    <section id="contacts-container" fxLayout="row" fxLayoutAlign="space-around center">

        <div id="details-container">

            <div class="dataDetailsSec" *ngIf="contacts?.address?.address != ''">
                <h3>Address</h3>
                <span>
                    {{ contacts?.address?.address }}<br/>
                    {{ contacts?.address?.postcode }} {{ contacts?.address?.town }}<br/>
                    {{ contacts?.address?.country }}
                </span>
            </div>

            <div class="dataDetailsSec" *ngIf="contacts?.phones.length > 0">
                <h3>Phones</h3>
                <div *ngFor="let phone of contacts.phones">{{ phone }}</div><br/>
            </div>

            <div class="dataDetailsSec" *ngIf="contacts?.connections?.facebook != ''">
                <h3>Connections</h3>
                <div>
                    <i class="fab fa-facebook"></i><br/>
                    <a href="contacts?.connections?.twitter" target="_blank" *ngIf="contacts?.connections && contacts.connections.twitter"><i class="fab fa-twitter-square"></i></a><br/>
                    <a href="contacts?.connections?.linkedin" target="_blank" *ngIf="contacts?.connections && contacts.connections.linkedin"><i class="fab fa-linkedin"></i></a><br/>
                    <a href="contacts?.connections?.skype" target="_blank" *ngIf="contacts?.connections && contacts.connections.skype"><i class="fab fa-skype"></i></a><br/>
                </div>
            </div>

        </div>

        <div id="map-container">
            <div #gmap style="width:600px;height:400px"></div>
        </div>

    </section>
</section>
