#contacts-wrapper{
    #contacts-container{
        #details-container{
            .dataDetailsSec {
                margin: 20px auto;
                h3 {
                    color: rgba(253, 141, 36, 0.767);
                    border-bottom: 1px solid rgba(136, 134, 134, 0.5);
                    margin-bottom: 10px;
                }
            }
        }
    }
}