<section id="page-not-found">
  <div id="header-not-found">
      <div id="logo-not-found">
      </div>
  </div>
  <div id="not-found-container">
      <div id="not-found-content">
          <h1 id="title-not-found">404: Page not Found</h1>
          <p>Sorry, but the page you are looking for has not been found. <br /> Try checking the URL for errors, then hit the refresh button on your browser.</p>
          <a class="btn-style" routerLink="/" routerLinkActive="active">Home page</a>
      </div>
  </div>
</section>
