/* You can add global styles to this file, and also import other style files */

@import './variables.scss';
$material-icons-font-path: '~material-icons/iconfont/';
@import '~material-icons/iconfont/material-icons.scss';
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';
* {
  margin: 0;
  padding: 0px;
}
* {
  // -ms-overflow-style: none;
  // overflow: -moz-scrollbars-none;
  &::-webkit-scrollbar {
      -webkit-appearance: none;
      width: 0px;
  }
  &::-webkit-scrollbar-thumb {
      border-radius: 4px;
      background-color: rgba(0, 0, 0, .5);
      -webkit-box-shadow: 0 0 1px rgba(255, 255, 255, .5);
  }
}
html {
  // background: #ee36fa;/* Old browsers */
  // background: -moz-linear-gradient(9deg, #ee36fa -10%, #6f3ede 50%);/* FF3.6-15 */
  // background: -webkit-linear-gradient(9deg, #ee36fa -10%, #6f3ede 50%);/* Chrome10-25,Safari5.1-6 */
  // background: linear-gradient(9deg, #ee36fa -10%, #6f3ede 50%);/* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  // //filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#ee36fa', endColorstr='#6f3ede', GradientType=1);/* IE6-9 fallback on horizontal gradient */
  // background: #ee36fa;
  // background: linear-gradient(9deg, #ff0000 -10%, #72c1fd78 50%);
  // background-repeat: no-repeat;
  // background-size: cover;
  // background-attachment: fixed;
}
body {
  background: url('https://images.pexels.com/photos/325944/pexels-photo-325944.jpeg?auto=compress&cs=tinysrgb&h=750&w=1260');
  background-repeat: no-repeat !important;
  background-position: 50% 50% !important;
  background-size: cover !important;
  background-attachment: fixed !important;
}

.hide {
  display: none;
}

.right {
  float: right;
}

.left {
  float: left;
}

.menu-icon-nav {
  cursor: pointer;
  overflow: hidden;
}

.mat-icon,
svg {
  color: $disabled-btn;
  fill: $disabled-btn;
}

.image-transperant {
  background:rgba(255,255,255,0.5) !important;
  .mat-dialog-title {
    display: none !important;
  }
}

.mat-table,
.mat-paginator {
  background: rgba(255,255,255,.5);
}

mat-expansion-panel {
  background: rgba(255,255,255,.7) !important;
}

.mat-icon {
  &:hover {
    color: black;
  }
}


#purchase-wrapper table {
  background: transparent;
}

app-coming-soon {
  width: 100%;
  height: 100vh;
  z-index: 1111;
  background: white;
  position: fixed;
  top: 0;
  left: 0;
}

app-home,
app-basket,
app-account,
app-gallery,
app-about-us,
app-products,
app-contacts,
app-purchase,
app-settings,
app-purchase-history {
  width: 100%;
}

mat-paginator {
  svg {
    fill: #673ab7;
    color: #673ab7;
  }
}

.mat-paginator-container {
  font-weight: bold;
  color: black;
}

a.mat-tab-link.ng-star-inserted:hover {
  color: #673ab7;
}