$header-logo: '../../images/FSL-Logo.png';
$header-logo-small: '../../images/FSL-Logo-small.png';

$primary-color: #0089D6;
$primary-border-color: rgba(0, 0, 0, .12);
$primary-border: 2px solid rgba(0, 0, 0, .12);
$primary-selected-item-color: rgb(190, 190, 190);
$primary-selected-item-color-hover: rgb(134, 134, 134);
$primary-release-notes-header-color: rgb(5, 56, 211);
$primary-border-bottom-color: rgb(234,236,239);
$primary-table-font-color: #000000;

$link-hover: rgb(234,236,239); //rgb(66,165,245)
$active-link: rgb(190,190,190); // rgb(66,165,245);
$active-link-hover: rgb(134,134,134); // rgb(66,165,245);

$loader-background: rgba(234, 236, 239, .7);
$table-column-title: rgba(0, 0, 0, .5);

$disabled-btn: rgb(190,190,190);;
