<section id="modal-window-wrapper" fxFlex="width">
  <section id="modaw-container">

    <section class="header" mat-dialog-title *ngIf="data.modal !== 'images' && data.msgType !== 'import' ">
      <div class="title">
        {{ data.title }}
      </div>
    </section>

    <section class="body-container" [class.image-container]="data.modal === 'image'" >

      <mat-dialog-content *ngIf="data.modal === 'image'">
        <div class="image-div" [ngStyle]="{background: 'url(./images/gallery/' + data.imgURL + ')'}"></div>
      </mat-dialog-content>
    </section>

    <section class="controls" *ngIf="data.modal !== 'image'">
      <mat-dialog-actions class="control-btns">
        <div *ngIf="data.actions != 'OffshoreEqualisationFeed' && data.actions !== 'OffshoreUndistributedIncome' ">
          <button mat-raised-button mat-dialog-close>OK</button>
        </div>
        <div *ngIf="data.actions == 'OffshoreEqualisationFeed' || data.actions == 'OffshoreUndistributedIncome' ">
          <button mat-button [mat-dialog-close]="false">Cancel Imports</button>
          <button mat-raised-button [mat-dialog-close]="true">Accept Imports</button>
        </div>
        <!-- <div *ngIf=" data.msgType == 'import' ">
          <button mat-button [mat-dialog-close]="false">Cancel</button>
          <button mat-raised-button [mat-dialog-close]="data.elements" cdkFocusInitial>Add</button>
        </div> -->
      </mat-dialog-actions>
    </section>

  </section>
</section>
