#bar-chart-container {
    .mat-card {
        width: 100%;
        display: inline-block;
        padding: 100px 5%;
        mat-card-content {
            width: 48%;
            float: left;
            .chart-row {
                width: 100%;
            }
        }
    }
}

@media screen and (max-width: 1000px) {
    #bar-chart-container {
        .mat-card {
            width: 95%;
            padding: 100px 20px;
            mat-card-content {
                width: 100%;
                &.bar_chart {}
                &.chart-row-container {
                    .chart-row {
                        width: 100%;
                    }
                }
            }
        }
    }
}