<mat-accordion class="example-headers-align" fxLayout="column" fxFlex="" fxFlexAlign=" center stretch">

    <mat-expansion-panel [expanded]="step === 0" (opened)="setStep(0)" hideToggle>
        <mat-expansion-panel-header>
            <mat-panel-title>
                {{ 'account.expPersonal' | translate }}
            </mat-panel-title>
            <mat-panel-description>
                <!-- Type your name and age -->
                <mat-icon>account_circle</mat-icon>
            </mat-panel-description>
        </mat-expansion-panel-header>

        <form [formGroup]="firstFormGroup" fxLayout="row wrap" fxLayoutAlign="space-around center" fxLayoutGap="20px" style="padding-top: 20px;">
            <ng-template matsteplabel>{{ 'account.expCheckPersonal' | translate }}</ng-template>
            <!-- Check you personal data -->

            <!-- Company name -->
            <mat-form-field>
                <input matInput type="text" [placeholder]=" 'placeholders.company' | translate "
                    formControlName="companyCTRL" required>
            </mat-form-field>

            <mat-form-field>
                <input matInput [placeholder]=" 'placeholders.firstname' | translate " formControlName="firstnameCTRL">
            </mat-form-field>

            <mat-form-field>
                <input matInput [placeholder]=" 'placeholders.lastname' | translate " formControlName="lastnameCTRL">
            </mat-form-field>

            <mat-form-field>
                <input matInput [placeholder]=" 'placeholders.oldEmail' | translate " formControlName="emailCTRL">
            </mat-form-field>

            <mat-form-field>
                <input matInput [placeholder]=" 'placeholders.newEmail' | translate " formControlName="newEmailCTRL">
            </mat-form-field>

        </form>

        <mat-action-row>
            <button mat-button (click)="SaveDataPersonal()">{{ 'buttons.save' | translate }}</button>
            <button mat-button (click)="nextStep()">{{ 'buttons.next' | translate }}</button>
        </mat-action-row>

    </mat-expansion-panel>

    <mat-expansion-panel [expanded]="step === 1" (opened)="setStep(1)" hideToggle>
        <mat-expansion-panel-header>

            <mat-panel-title>
                {{ 'account.expInvoiceDetails' | translate }}
            </mat-panel-title>

            <mat-panel-description>
                <mat-icon>date_range</mat-icon>
            </mat-panel-description>

        </mat-expansion-panel-header>

        <form [formGroup]="invoiceDetails" fxLayout="row wrap" fxLayoutAlign="space-around center" fxLayoutGap="20px">
            <div class="explanation-details" fxLayout="row wrap" fxLayoutAlign="space-around center" fxLayoutGap="20px" style="padding-top: 20px;">
                <!-- Fill out your invoice details -->
                <ng-template matStepLabel>{{ 'account.expInvoiceDetailsTemp' | translate }}</ng-template>

                <!-- Address -->
                <mat-form-field>
                    <input matInput [placeholder]=" 'placeholders.address' | translate " formControlName="addressCtrl"
                        required>
                </mat-form-field>

                <!-- EIK -->
                <mat-form-field>
                    <input matInput [placeholder]=" 'placeholders.eik' | translate " formControlName="eikCtrl" required>
                </mat-form-field>

                <!-- Bulstat -->
                <mat-form-field>
                    <input matInput [placeholder]=" 'placeholders.bulstat' | translate " formControlName="bulstatCtrl"
                        required>
                </mat-form-field>

                <!-- Citizenship -->
                <mat-form-field>
                    <input matInput [placeholder]=" 'placeholders.citizenship' | translate "
                        formControlName="citizenshipCtrl" required>
                </mat-form-field>

                <!-- Country -->
                <mat-form-field>
                    <input matInput [placeholder]=" 'placeholders.country' | translate " formControlName="countryCtrl"
                        required>
                </mat-form-field>

                <!-- Town -->
                <mat-form-field>
                    <input matInput [placeholder]=" 'placeholders.town' | translate " formControlName="townCtrl"
                        required>
                </mat-form-field>

                <!-- Code -->
                <mat-form-field>
                    <input matInput [placeholder]=" 'placeholders.postcode' | translate " formControlName="postcodeCtrl"
                        required>
                </mat-form-field>

                <!-- Phone number -->
                <mat-form-field>
                    <input matInput [placeholder]=" 'placeholders.phone' | translate " formControlName="phoneCtrl"
                        required>
                </mat-form-field>

                <!-- Code -->
                <!-- <mat-form-field>
                    <input matInput [placeholder]=" 'placeholders.phonecode' | translate "
                        formControlName="countryPhoneCodeCtrl" required>
                </mat-form-field> -->
            </div>
        </form>
        <mat-datepicker #picker></mat-datepicker>

        <mat-action-row>
            <button mat-button (click)="SaveDataInvoices()">{{ 'buttons.save' | translate }}</button>
            <button mat-button (click)="prevStep()">{{ 'buttons.previous' | translate }}</button>
            <button mat-button (click)="nextStep()">{{ 'buttons.end' | translate }}</button>
        </mat-action-row>

    </mat-expansion-panel>

</mat-accordion>