<section id="product-container">
  <div class="controllers">
    <button mat-raised-button color="primary" (click)="addProd()">add Product</button>
    <button mat-raised-button color="primary" (click)="showProtByCat()">Prod By Cat</button>
    <!-- <button mat-raised-button color="primary" (click)="removeAllProd()">Remove All Product</button> -->
    <button mat-raised-button color="primary" (click)="removeProdByCat()">Remove Products By Selected Cat</button>

    <mat-form-field>
      <mat-select placeholder="Category" [(ngModel)]="selectedCat">
        <mat-option *ngFor="let cat of categories" value="{{cat._id}}">{{cat?.name}}</mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field >
      <input type="text" matInput [(ngModel)]="newProdName" placeholder="New Product" />
    </mat-form-field>
  </div>
  <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

    <!-- Name Column -->
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef> Name </th>
      <td mat-cell *matCellDef="let element">
        <div *ngIf="editbtn != element._id" >{{element?.name}}</div>
        <mat-form-field *ngIf="editbtn == element._id" >
          <input matInput placeholder="Product name" [(ngModel)]="prodName">
        </mat-form-field>
      </td>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="image">
      <th mat-header-cell *matHeaderCellDef> Image </th>
      <td mat-cell *matCellDef="let element">
          <!-- {{element?.imageURL}} -->
          <div class="product-images zele"></div>
        <!-- <mat-form-field *ngIf="editbtn" >
          <input matInput placeholder="Image address" [value]="element?.imageURL">
        </mat-form-field> -->
      </td>
    </ng-container>

    <!-- Symbol Column -->
    <ng-container matColumnDef="sort">
      <th mat-header-cell *matHeaderCellDef> Sorts </th>
      <td mat-cell *matCellDef="let element">
        <ul *ngIf="editbtn !== element._id">
          <li *ngFor="let item of element?.sort">{{item}}</li>
        </ul>
        <div *ngIf="editbtn == element._id">
          <mat-form-field >
            <input matInput placeholder="Sorts" [(ngModel)]="prodSorts" >
          </mat-form-field>
        </div>
      </td>
    </ng-container>

    <!-- Symbol Column -->
    <ng-container matColumnDef="details">
      <th mat-header-cell *matHeaderCellDef> Details </th>
      <td mat-cell *matCellDef="let element">
        <div *ngIf="editbtn !== element._id" >{{element?.details}}</div>
        <div *ngIf="ifAdmin">
            <mat-form-field *ngIf="editbtn == element._id">
              <input matInput placeholder="Details data" [(ngModel)]="prodDetails">
            </mat-form-field>
            <div class="edit-button">
              <button mat-button (click)="editProd(element)" *ngIf="editbtn != element._id">Edit</button>
            </div>
            <div class="save-button">
              <button mat-button (click)="saveProd(element)" *ngIf="editbtn == element._id">Save</button>
            </div>
            <div class="remove-button">
              <button mat-button (click)="removeProd(element)" *ngIf="editbtn == element._id">Remove</button>
            </div>
          </div>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
</section>
