@import '../../../variables.scss';
#product-container {
  position: relative;
  .controllers {
    // width: 100;
    text-align: right;
    margin-top: 20px;
  }
  table {
    width: 100%;
    .edit-button,
    .save-button,
    .remove-button {
      color: blue;
      float: left;
    }
  }
  .product-images {
    width: 150px;
    height: 150px;
    margin: 10px auto;
    background-position: 50% 50% !important;
    background-repeat: no-repeat !important;
    background-size: cover !important;
    margin-left: 0px;
    &.zele {
      background: url('../../images/products/pumpkins.jpg') 50% 50% no-repeat;
      background-size: cover;
      margin-left: 0px;
    }
  }
  ul li {
    overflow: hidden;
  }
}

.mat-form-field.max-input-size {
  // max-width: 150px;
  margin-top: 20px;
}
.numeric-input,
.numeric-input .mat-form-field {
  width: 50px;
  margin-top: 20px !important;
}

.table-image {
  width: 170px;
}

.mat-form-field {
  margin: 0 10px;
}

.basket-container {
  position: absolute;
  top: -64px;
  right: 110px;
  margin: 0 auto;
  .mat-icon {
    width: 40px;
    height: 40px;
  }
  .basket-size {
    font-size: 23px;
    font-weight: bold;
    color: $disabled-btn;
    margin-top: 11px;
    margin-right: -7px;
  }
}
