<section id="purchases-wrapper">
    <section id="purchase-wrapper">
        <mat-accordion class="example-headers-align" fxLayout="column" fxFlex="" fxFlexAlign="center stretch">
            <mat-expansion-panel *ngFor="let item of dataaa; let i = index" data-index="i" [expanded]="step === i"
                (opened)="setStep(i)" hideToggle>
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        <span *ngIf="item.flag === -1">{{ 'purchase.canceled' | translate }}</span>
                        <span *ngIf="item.flag === 0">{{ 'purchase.forApproval' | translate }}</span>
                        <span *ngIf="item.flag === 1">{{ 'purchase.approved' | translate }}</span>
                        <span *ngIf="item.flag === 2">{{ 'purchase.delivering' | translate }}</span>
                        <span *ngIf="item.flag === 3">{{ 'purchase.delivered' | translate }}</span>
                    </mat-panel-title>
                    <mat-panel-description>
                        <div><b>{{ item.company }}</b></div>
                        <div><b>{{ item.name }}</b></div>
                        <div>{{item.date | date: 'medium'}}</div>
                    </mat-panel-description>
                </mat-expansion-panel-header>

                <app-data-table [dataSource]="item.order" [displayedColumns]="displayedColumns"
                    [tableColumnNames]="tableColumnNames" [dateTransformNames]="dateTransformNames"
                    [total]="item.total"></app-data-table>

                <mat-action-row>
                    <button mat-button="mat-button" (click)="decline(item)">{{ 'buttons.decline' | translate }}</button>
                    <button mat-button="mat-button" (click)="accept(item)">{{ 'buttons.accept' | translate }}</button>
                    <button mat-button="mat-button" *ngIf="step !== 0"
                        (click)="prevStep()">{{ 'buttons.previous' | translate }}</button>
                    <button mat-button="mat-button" *ngIf="step !== dataaa.lenght"
                        (click)="nextStep()">{{ 'buttons.next' | translate }}</button>
                </mat-action-row>

            </mat-expansion-panel>
        </mat-accordion>
    </section>
</section>