<section id="navi-container" style="position: relative;" fxLayout="column" fxLayoutAlign="stretch center" fxLayoutGap="20px">
  <nav mat-tab-nav-bar fxLayoutAlign="stretch center">
    <a mat-tab-link *ngFor="let link of routeLinks; let i = index" [routerLink]="link.link" routerLinkActive #rla="routerLinkActive"
      [active]="rla.isActive">
      {{link.label}}
    </a>
  </nav>
  <button mat-raised-button color="primary" (click)="logout()" style="position: absolute; top: 5px; right: 10px;">{{ loginBtn }}</button>
</section>
