.mat-expansion-panel-header-description {
    justify-content: space-between;
}

#purchases-wrapper {
    width: 90%;
}

.example-headers-align {
    width: 90%;
    max-width: 1200px;
}

.status-marker {
    height: 20px;
    width: 20px; // position: absolute;
    margin-top: 0px;
    margin-left: 20px;
    margin-right: 50px;
    float: none; // top: 16px;
    // left: 130px;
    border-radius: 100%;
    box-shadow: 0px 0px 10px 3px #2f394d;
}

.status-red {
    background: red;
}

.status-orange {
    background: #f88639;
}

.status-blue {
    background: #2e8ec1;
}

.status-yellow {
    background: #f4c712;
}

.status-green {
    background: #00a553;
}

.status-none {
    background: grey;
}

.page-settings-container {
    width: 100%;
    margin-bottom: 30px;
    overflow: hidden;
    .page-settings {
        width: 100%;
        line-height: 60px;
        // border-bottom: 1px solid rgba(0, 0, 0, .12);
        color: #f4c712;
    }
    .settings-toggle {
        width: 100%;
        height: 100%;
        display: inline-block;
        padding-top: 5px;
        border-top: 1px solid rgba(0, 0, 0, .12);
        cursor: pointer;
        #settings-btn {
            width: 50px;
            float: right;
            margin-right: 20px;
        }
    }
}
