#page-not-found {
    #header-not-found {
        width: 100%;
        height: auto;
        #logo-not-found {
            width: 80px;
            height: 150px;
            background-image: url('../../images/no-results-img.png');
            background-position: 50% 50%;
            background-repeat: no-repeat;
            background-size: contain;
            margin: auto;
            margin-top: 6%;
        }
    }
    #not-found-container {
        width: 80%;
        height: 100%;
        margin: 0 auto;
        #not-found-content {
            text-align: center;
            h1 {
                color: #fff;
                font-size: 40px;
            }
            p {
                margin: 50px 0;
                font-size: 18px;
            }
            a {
                font-weight: bold;
                padding: 10px 30px;
                text-transform: uppercase;
                color: white;
                box-shadow: 2px 2px 9px 0px #d5d5d5;
                border-radius: 10px;
                text-decoration: none;
                &:hover {
                    box-shadow: none;
                    margin-top: 2px;
                    margin-left: 2px;
                    border: 1px solid #d5d5d5;
                }
            }
        }
    }
}