<section id="resetpass-wrapper" fxLayout="row" fxLayoutAlign="center center">
  <section id="resetpass-container" fxLayoutGap="20px" fxLayout="column" fxLayoutAlign="space-between center">

    <h1>Reset Password</h1>
    <form [formGroup]="signin" (submit)="changePass()" id="signin-container" fxLayoutGap="20px" fxLayout="column" fxLayoutAlign="center center">

      <mat-form-field>
        <input matInput type="password" placeholder="Password" formControlName="password" (change)="this.checkpass()">
        <mat-error *ngIf="signin.get('password')?.invalid">This field is required</mat-error>
      </mat-form-field>
      <ng2-password-strength-bar [passwordToCheck]="signin.value.password" [barLabel]="barLabel" [barColors]="myColors">
      </ng2-password-strength-bar>

      <mat-form-field [class.mat-form-field-invalid]="signin.get('repassword')?.invalid || passNotMatch">
        <input matInput type="password" placeholder="Re-Password" formControlName="repassword"
          (change)="this.checkpass()">
        <mat-error *ngIf="signin.get('repassword')?.invalid">This field is required</mat-error>
        <div
          [ngClass]="{'custome-valid': !signin.get('repassword')?.invalid, 'custome-invalid': signin.get('repassword')?.invalid}">
          <div class="mat-error" *ngIf="passNotMatch">
            Password doesn`t match
          </div>
        </div>
      </mat-form-field>

      <div class="input error-label">
        <div for id="signin-error-msg"></div>
      </div>

      <button mat-raised-button type="submit" class="submit-btn" [disabled]="!this.btnSubmitValidation">
        Sign In
      </button>

      <a [routerLink]="['/login']">
        <button mat-raised-button type="submit">
          Back to login
        </button>
      </a>
    </form>

  </section>
</section>