<section id="app-wrapper">
  <section id="body-wrapper">

  <api-header></api-header>

  <section id="main-body-wrapper">
    <!-- <api-home></api-home>
    <api-about></api-about> -->
    <router-outlet></router-outlet>
    <div class="full-screen body" [class.hide]="!contentLoader">
      <div class="relative">
        <mat-spinner color="primary"></mat-spinner>
      </div>
    </div>
  </section>

  </section>
  <div class="full-screen html" [class.hide]="!htmlLoader">
    <div class="relative">
      <mat-spinner color="primary"></mat-spinner>
    </div>
  </div>
</section>
