#forgotpass-wrapper {
  height: 100%;

  #fotgotpass-container {
    width: 60%;
    height: auto;
    background-color: rgba(0, 0, 0, 0.35);
    padding: 25px;
    border: 2px solid rgb(220, 220, 220); 
    *:not(button):not(i) {
        color: white;
    }
  }
}
