<section id="purchase-wrapper">
    <section id="purchase-container" fxLayout="column" fxLayoutAlign="space-around stretch">

        <app-pagination class="right" [startRow]="startRow" [endRow]="endRow" [currentPageIn]="currentPage"
            [allPages]="allPages" [itemsPerPageIn]="itemsPerPage" [allRecords]="allRecords"
            (currentPageOut)="changePageTo($event)" (itemsPerPageOut)="changeItemsPerPage($event)"
            *ngIf="purchasesList.length > 0">
        </app-pagination>


        <section>
            <mat-accordion class="example-headers-align" fxLayout="column" fxFlex="" fxFlexAlign="center stretch">
                <mat-expansion-panel *ngFor="let item of purchasesList; let i = index" data-index="i"
                    [expanded]="step === i" (opened)="setStep(i)" hideToggle>
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            <div fxLayout="row" fxLayoutAlign="start center" style="margin: 0 0 0 100px;">
                                <!-- [className]="item.flag === -1 ? 'status-red': item.flag === 0 ? 'status-yellow' : item.flag === 1 ? 'status-orange': item.flag === 2 ? 'status-blue': item.flag === 3 ? 'status-green': 'status-none'" -->
                                <div class="status-marker" [ngClass]="{ 
                                          'status-red': item.flag === -1,
                                          'status-yellow': item.flag === 0,
                                          'status-orange': item.flag === 1,
                                          'status-blue': item.flag === 2,
                                          'status-green': item.flag === 3
                                        }">
                                </div>
                                <div *ngIf="item.flag === -1">Canceled</div>
                                <div *ngIf="item.flag === 0">Need to be approved</div>
                                <div *ngIf="item.flag === 1">Approved</div>
                                <div *ngIf="item.flag === 2">Send to client</div>
                                <div *ngIf="item.flag === 3">Delivered</div>
                            </div>
                        </mat-panel-title>
                        <mat-panel-description>
                            <div><b>{{ item.company }}</b></div>
                            <div><b>{{ item.name }}</b></div>
                            <div>{{item.date | date: 'medium'}}</div>
                        </mat-panel-description>
                    </mat-expansion-panel-header>

                    <app-data-table [dataSource]="item.order" [displayedColumns]="displayedColumns"
                        [tableColumnNames]="tableColumnNames" [dateTransformNames]="dateTransformNames"
                        [total]="item.total"></app-data-table>

                    <mat-action-row>
                        <button mat-button="mat-button" *ngIf="step !== 0" (click)="prevStep()">
                            Previous
                        </button>
                        <button mat-button="mat-button" *ngIf="item.flag == 0" (click)="decline(item)">
                            Decline
                        </button>
                        <button mat-button="mat-button" *ngIf="item.flag == 0" (click)="accept(item)">
                            Accept
                        </button>
                        <button mat-button="mat-button" *ngIf="item.flag == 1" (click)="sendToClient(item)">
                            On the way
                        </button>
                        <button mat-button="mat-button" *ngIf="item.flag == 2" (click)="deliveredToClient(item)">
                            Set as
                            delivered
                        </button>
                        <button mat-button="mat-button" *ngIf="step !== purchasesList.lenght" (click)="nextStep()">
                            Next
                        </button>
                    </mat-action-row>

                </mat-expansion-panel>
            </mat-accordion>
        </section>
    </section>
</section>