#main-nav-container-icons-top {
    position: fixed;
    top: 0;
    z-index: 99;
}
#main-nav-container-icons {
  .mat-tab-link {
    padding: 0px 3% !important;
    margin: 0px 10px;
    min-width: 35px !important;
    width: 35px !important;
    height: 35px !important;
    overflow: hidden;
  }
}
