<section id="header-nav-menu">
    <div id="site-title-and-logo" class="left">
        <div class="title" routerLink="/home">API</div>
        <div id="site-logo" routerLink="/home">Logo</div>
    </div>
    <div id="navi-menu" class="right">
        <div id="customers-name">customer</div>
        <ul id="navi">
            <li (click)="logout()" style="cursor: pointer;">
              <span fxHide fxShow.lg fxShow.md>Log out</span>
                <mat-icon class="small-screen menu-icon-nav black active"
                style="position: relative; top: 8px; left: 2px;"
                matTooltip="Logout" matTooltipPosition="below">logout</mat-icon>
            </li>
        </ul>
    </div>
</section>

<section [@scrollAnimation]="state" id="user-content-nav-wrapper">
    <app-dash-nav-icons></app-dash-nav-icons>
</section>
