#reg-details {
    form {
        width: 400px;
        .mat-form-field,
        h5, h4, h3,
        p {
            width: 80%;
            margin: auto;
        }
        .mat-checkbox,
        .mat-checkbox * {
            width: 80%;
            text-align: left;
            display: block;
        }
        button {
            float: right;
        }
        .explanation-details, .controll-btns {
            margin: 50px auto 30px;
        }
    }
}