code {
  text-align: -webkit-auto;
  * {
    font-family: sans-serif, "Times New Roman", Times, serif !important;
  }
}

.hljs {
    background: rgba(0,0,0,0.7) !important;
}

code.hljs {
  font-family: sans-serif;
}

#api-con-container {
  z-index: 0;
}
div {
  margin-top: 40px;
}
