#login-wrapper {
  height: 100vh;
}
#login-container {
    // float: right;
    width: 60%;
    height: auto;
    background-color: rgba(0, 0, 0, 0.35);
    padding: 25px;
    border: 2px solid rgb(220, 220, 220);
    .login-form {
        mat-form-field {
            margin: 5px 10px;
        }
        input {
            padding: 5px 0;
            color: white;
        }
        .error-label {
            line-height: 15px;
            font-size: 14px;
            color: red;
            margin-bottom: 20px;
        }
    }
    
}

.additinal-login-options {
  width: calc(100% + 50px);
  margin: 20px 0 0 -25px;
  a {
    color: white;
    text-decoration: none;
    &:hover {
      color: orange;
    }
  }
}

