<section id="login-wrapper" fxLayout="row" fxLayoutAlign="center center">
  <section id="login-container" fxLayoutGap="10px" fxLayout="column" fxLayoutAlign="space-between center">
      
    <header id="login-page">
          <div class="logo-container">
              <div id="logo-background-image"></div>
              <div id="logo-image"></div>
          </div>
      </header>

      <form [formGroup]="login" (submit)="loginUser()" class="login-form" fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="20px">

          <mat-form-field>
              <input matInput type="email" [placeholder]=" 'placeholders.email' | translate " formControlName="email" min="4" (keyup)="onchange()" required>
              <mat-error *ngIf="login.get('email')?.invalid">{{ 'errors.required' | translate }}</mat-error>
          </mat-form-field>

          <mat-form-field>
              <input matInput type="password" [placeholder]=" 'placeholders.password' | translate " formControlName="pass" min="3" (keyup)="onchange()" required>
              <mat-error *ngIf="login.get('pass')?.invalid">{{ 'errors.required' | translate }}</mat-error>
          </mat-form-field>

          <div class="input error-label">
              <div for="" id="login-error-msg">{{ warnMsg }}</div>
          </div>

          <button mat-raised-button type="submit" [disabled]="btnDisbaled">
              {{ 
                userAuth 
                ? ('buttons.authorising' | translate )
                : ('buttons.login' | translate)
                }}
            </button>
      </form>
      
      <div class="blue additinal-login-options" fxLayout="row" fxLayoutAlign="space-between center">
          <a [routerLink]="['/auth/forgotpassword']">{{ 'buttons.forgotpass' | translate }}</a>
          <a [routerLink]="['/auth/signup']">{{ 'buttons.signup' | translate }}</a>
      </div>

  </section>
</section>
